<div class="about-container col-12">
    <div class="row h-100 row-1">
        <div class="left-col col-6">
           <p class="head"> More About Me...</p>
        </div>
        <div class="right-col col-6">
            <div class="about-text">
                <p>
                    Let me give you a short intro about myself. I’m a Experienced Frontend Developer with a demonstrated history of working in IT feild. 
                </p>
                <p>
                    In my Development journey, I have worked for a few companies and freelanced.My Skilled in HTML,CSS,Bootstrap,Javascript,Angular,JQuery,SEO and Git technologies .Strong technical skills in complex websites including web-based applications.
                </p>
            </div>
        </div>
    </div>
    <div class="row h-100 row-2">
        <div class="left-col">
            <button (click)="pdfViewer.zoomIn()">Zoom In</button>
            <simple-pdf-viewer #pdfViewer [src]="'assets/images/resume.pdf#page=2'"></simple-pdf-viewer>
        </div>
        <div class="right-col">

        </div>
    </div>
</div>