<div class="home-container col-12">
    <div class="row">
        <div class="col-6 left-col">
            <nav class="left-nav">
                <div class="logo">
                    <a href="#"><img src="assets/images/logo.png" alt="logo"/></a>
                 </div>
            </nav>
            <div class="left-body">
                <h1>
                    <span>I'm a </span>
                    <div class="message">
                      <div class="word1">Coder</div>
                      <div class="word2">Explorer</div>
                      <div class="word3">Creator</div>
                    </div>
                </h1>
            </div>
        </div>
        <div class="col-6 right-col">
            <nav class="right-nav">
                <div class="menu">
                    <ul>
                       <li><a href="#">Home</a></li>
                       <li><a href="#">Work</a></li>
                       <li><a href="#">About</a></li>
                       <li><a href="#">Blogs</a></li>
                       <li><a href="#">Contact</a></li>
                    </ul>
                 </div>
            </nav>
            <div class="right-body">
                <div class="image-container">
                    <img src="assets/images/pf.png">
                </div>
            </div>
        </div>
    </div>
</div>
<app-work></app-work>
<app-about></app-about>
<app-contact></app-contact>
