.work-container{
    font-family: 'Patrick Hand', cursive;
    .left-col{
        height: 400px;
        background-color: var(--corol);
        .col1,.col2{
            color: var(--white);
            img{
                width: 100px;
                border-radius: 50px;
                border-color: var(--corol);
            }
            p{
                margin-bottom: 0%;
            }
        }
    }
    .right-col{
        height: 400px;
        padding-top: 3%;
        .col3,.col4{
            color: var(--corol);
            img{
                width: 100px;
                border-radius: 50px;
                border-color: var(--corol);
            }
            p{
                margin-bottom: 0%;
            }
        }

    }
}