<div class="work-container col-12">
    <div class="row">
        <div class="col-6 left-col pt-3">
            <h2 class="w-100 text-end white-clr mb-4">Work</h2>
            <div class="col1 p-4 row">
                <div class="col-3">
                    <img src="assets/images/1634984320938.jpeg"> 
                </div>
                <div class="col-9">
                    <h4>Primebit Solution Pvt Ltd</h4>
                    <p>Software Engineer</p>
                    <p>07/2017 - 02/2019</p>

                </div>
            </div>
            <div class="col2  p-4 row">
                <div class="col-3">
                    <img src="assets/images/laalsa.png">
                </div>
                <div class="col-9">
                    <h4>Laalsa Business Insights Pvt Ltd</h4>
                    <p>Software Engineer</p>
                    <p>02/2019 - 05/2020</p>
                </div>
            </div>
        </div>
        <div class="col-6 right-col pt-3">
            <h2 class="coral-clr mb-4">Experience</h2>
            <div class="col3 p-4 row">
                <div class="col-3">
                    <img src="assets/images/ahex.png">
                </div>
                <div class="col-9">
                    <h4>Ahex Technologies Private Limited</h4>
                    <p>Software Engineer</p>
                    <p>05/2020 - 02/2021</p>

                </div>
            </div>
            <div class="col4 p-4 row">
                <div class="col-3">
                    <img src="assets/images/acs.png">
                </div>
                <div class="col-9">
                    <h4>Acs Solutions</h4>
                    <p>Senior Software Engineer</p>
                    <p>03/2021 - 01/2022</p>
                </div>
            </div>
        </div>
    </div>
</div>